.container {
    margin: 0 auto;
    padding: 0;
    max-width: 1300px;
    font-family: 'jost';
}

.form1 {
    width: 60%;
    margin: 0 auto;
    margin-top: 230px;
    margin-bottom: 70px;
    padding-right: 30px;
    box-shadow: 8px 0 1px -8px;
    position: relative;
}

.form1 h1 {
    color: #000;
    text-align: left;
    text-shadow: 0 0 0 rgba(2, 2, 2, .23);
    font-family: 'jost';
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 20px;
}

.checkbox1 input {
    display: flex;
    padding: 10px 22px;
    width: 100%;
    margin: 15px 0px;
    font-size: 14px;
    border-radius: 4px;
    font-family: 'jost';
    border-color: #161414;
    border-width: 1px;
}

.checkbox .check2 {
    display: flex;
}

.checkbox .check3 {
    display: flex;
}

.checkbox {
    box-shadow: 0px 0px 0px 1px #d3d3d3;
    margin-right: 481px;
    border-radius: 4px;
}

.check3 input {
    width: 15%;
    margin-top: -10px;
    margin-left: 21px;
    margin-right: 12px;
}

.check3 p {
    width: 131px;
}

.cbimg {
    margin-left: 51px;
}

.cbimg img {
    width: 82%;
}

.cbimg p {
    font-size: 8px;
    margin-top: -9px;
    margin-left: 4px;
}

.etext6 {
    text-transform: uppercase;
    padding: 9px 22px;
    margin-top: 40px;
    background-color: #e1541d;
    color: white;
    border-radius: 4px;
    font-size: 15px;
    border: none;
    font-weight: bold;

}

.etext7 {
    padding: 18px 22px;
    height: 110px;
    width: 100%
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 8px 15px 8px;
    color: white;
    font-size: 12px;
    background-color: rgba(0,183,205,1);
    border-width: 0;
    cursor: pointer;
    box-shadow: 1px 1px 3px 0 rgba(2,2,2,.23);
}